{% extends '../base.html' %}

{% block content %}
    <div class="col-md-12">
        {% include '../messages_and_errors.html' %}
    </div>

    <form action="{% url 'quiz:quiz-questions' quiz_exam_slug=quiz_exam_slug %}" method="POST">
        {% csrf_token %}
        
        {% for question in questions %}
            <div class="col-md-12 my-2">
                <div><span class="question__id">{{forloop.counter}}.</span>&nbsp;&nbsp;&nbsp;&nbsp;{{question.name}}</div>
                <div class="row">
                    {% for option in question.options.all %}
                        <div class="col-md-6 my-2 pl-5">
                            <div class="checkbox">
                                <input type="checkbox" id="{{option.id}}" name="{{question.id}}" value="{{option.id}}" />
                                <label for="{{option.id}}"><span>{{option.name}}</span></label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        {% if questions %}
            <input type="text" id="user_response" class="d-none" />
            <button type="submit" class="btn btn-primary pull-right my-4">Submit</button>
        {% else %}
            <h3 class="text-center">There are no questions for this quiz exam yet!</h3><hr />
        {% endif %}
    </form>
{% endblock content %}

{% block extra_js %}
<script>
    $('form').on('submit', function(e) {
        e.preventDefault();
        var data = $(this).serialize();
        //console.log(data);
        $('#user_response').val(data);
        e.currentTarget.submit();
    });
</script>
{% endblock extra_js %}
